{% extends 'base/base.html' %}

{% block title %}
    Agustin Palau
{% endblock title %}

{% block content %}
    <section class="resume-section" id="projects">
        <div class="resume-section-content">
            <h2 class="mb-5">Projects</h2>
            <p>Here I show the projects that I have done in the last time using the tools previously exposed, which are duly explained in a concise and simple way.</p>
            {% if projects %}
                <div class="row">
                    {% for project in projects %}
                    <!-- Card -->
                        <div class="col-sm-6 col-md-4 mb-2 mx-left">
                            <div class="card" style="width: 14rem;">
                                <img class="card-img-top" src="{{ project.image_thumbnail.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ project.title }}</h5>
                                    <p>{{ project.description|truncatechars:80 }}</p>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#project-{{project.id}}">View More Details</button>
                                </div>
                            </div> 
                        </div>

                        <!-- Modal -->
                                                
                        <div class="modal fade" id="project-{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="modalProject" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="text-center modal-title" id="exampleModalLabel">{{ project.title }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="lead modal-body">
                                        {{ project.description }}                                    
                                    </div>
                                    <p class="lead modal-body">
                                        {% if project.tecnologies.all %}
                                            <b>Tecnologies:</b> {% for tecnology in project.tecnologies.all %}
                                                {{ tecnology.title }} 
                                                {% if not forloop.last %} - {% endif %}
                                            {% endfor %}
                                        
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            {% else %}
                <p class="lead">There are no projects available</p>
            {% endif %}
            
            <div class="col-sm-2 col-md-3 col-lg-6">
                
                
            </div>
        </div>
    </section>
    <hr class="m-0" />
{% endblock content %}

<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/media/img_card.svg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->

